body {background-image: url("img/blue.png");height: 1200px;}
hr.break1 {border: 2px solid white; width:50%;}
h1 {color: White;	font-family: "Courier New";	font-size: 80px;    text-align: center;	font-weight: Normal;}
h2 {color: White;	font-family: "Courier New";	font-size: 45px;    text-align: center;	font-weight: Normal;}
h3 {color: White;	font-family: "Courier New";	font-size: 30px;    text-align: center;	font-weight: Normal;}
h2.data {color: White;	font-family: "Courier New";	font-size: 45px;    text-align: left;	font-weight: Normal;}
p, .welcome, .data {font-family: Courier New;  font-size: 25px;  color: White;  font-weight: Bold;}
ul, il, th {font-family: Courier New;  font-size: 25px;  color: White;  font-weight: Bold;}
td, caption {font-family: Courier New;  font-size: 20px;  color: White;  font-weight: Bold;}
form, legend {  font-family: Courier New;  font-size: 18px;  color: White;  font-weight: Bold;}
table {border-collapse: collapse;}
table, th, td {border: 2px solid white;}
/*-------------------------------------------*/
/*-------------------------------------------*/
div.welcome {margin: auto; width:60%;}
div.contactform {margin: auto; width: 100%;}
div.contact {margin: auto; width: 100%; clear: both;}
div.contact input {margin: auto; width: 90%; clear: both;}
div.contact2 {display: inline; width: 50%;}
p.about, ul.about {  font-family: Courier New;  font-size: 20px;  color: White;  font-weight: Normal;}
p.about2 {font-weight: Bold;  font-family: Courier New;  font-size: 20px;  color: White;}
div.welcome {margin: auto; width:60%;}
div.wrap-collabsible, .data {margin: auto; width:90%;}
a.form1:link {color: yellow;}
a.form1:visited {color: orange;}
a.form1:hover {color: white;}
a.form1:active {color: red;}
/*-------------------------------------------*/
/*-------------------------------------------*/
.overlay {  height: 0%;  width: 25%;  position: fixed;  z-index: 1;  top: 0;  left: 0;  background-color: rgb(255,255,255);  background-color: rgba(0,0,0, 0.9);  overflow-y: hidden;  transition: 1.0s;}
.overlay-content {  position: relative;  top: 25%;  width: 100%;  text-align: center;  margin-top: 30px;}
.overlay a {  padding: 8px;  text-decoration: none;  font-size: 36px;  color: #818181;  display: block;  transition: 0.3s;}
.overlay a:hover, .overlay a:focus {  color: #f1f1f1;}
.overlay .closebtn {  position: absolute;  top: 20px;  right: 45px;  font-size: 60px;}
@media screen and (max-height: 450px){.overlay a {font-size: 20px}.overlay.closebtn {  font-size: 40px;  top: 15px; right: 35px;}}
/*-------------------------------------------*/
/*-------------------------------------------*/
input[type='checkbox'] {display: none;}
.lbl-toggle{display: block;font-family:monospace;font-size:1.2rem;text-transform:uppercase;text-align:left;padding:1rem;color:rgb(255,255,255);background:rgb(102,102,152);cursor:pointer;border-radius:3px;transition:all 0.25s ease-out;}
.lbl-toggle:hover {  color: yellow;}
.lbl-toggle::before{content:'';display:inline-block;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid currentColor;vertical-align:middle;margin-right:.7rem;transform:translateY(-2px);  transition: transform .2s ease-out;}
.collapsible-content .content-inner {background: url(img/1.png) no-repeat 95% !important;  border-bottom: 1px solid rgba(250, 224, 66, .45);border-bottom-left-radius: 7px;  border-bottom-right-radius: 7px;  padding: .5rem 1rem;}
.collapsible-content {  max-height: 0px;  overflow: hidden;  transition: max-height .25s ease-in-out;}
.toggle:checked + .lbl-toggle + .collapsible-content {  max-height: 100%;}
.collapsible-content2 .content-inner {  background: rgba(250, 224, 66, .2);  border-bottom: 1px solid rgba(250, 224, 66, .45);  border-bottom-left-radius: 7px;  border-bottom-right-radius: 7px;  padding: .5rem 1rem;}
.collapsible-content2 {  max-height: 0px;  overflow: hidden;  transition: max-height .25s ease-in-out;}
.toggle:checked + .lbl-toggle + .collapsible-content2 {  max-height: 100%;}
.toggle:checked + .lbl-toggle::before {  transform: rotate(90deg) translateX(-3px);}
.toggle:checked + .lbl-toggle {  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}